@{
    Layout = "_Layout";
}

@model HairSalon.Models.Stylist
@using HairSalon.Models
<hr>
<h2>Stylist Info</h2>
<hr/>
<h3>
    @Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)
    <hr/>
    @Html.DisplayNameFor(model => model.Clients):
</h3>
@if (Model.Clients.Count == 0)
{
    <h3>No clients at this time</h3>
}
@foreach (Client client in Model.Clients)
{
    @Html.ActionLink(client.Name, "Details", "Clients", new {id = client.ClientId})
    <br>
}
<hr>
<h6>Links</h6>
<p>@Html.ActionLink("Add Client", "Create", "Clients")</p>
<p>@Html.ActionLink("All Clients", "Index", "Clients")</p>
<p>@Html.ActionLink("All Stylists", "Index", "Stylists")</p>
<p>@Html.ActionLink("Delete Stylist", "Delete", "Stylists", new {id = Model.StylistId})</p>